/*start rules*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
    margin: 0 auto;
    width: 80%;
    max-width: 1100px;
}

img {
    max-width: 100%;
}

/*Inizio Header*/

header {
    background-color: hsl(24.71deg 100% 50%);
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 20px;
}

.navbar {
    width: 100%;
    background-color: hsl(24.71deg 100% 50%);
    display: flex;
    justify-content: space-between;
}

ul {
    list-style: none;
    display: flex;
}

li {
    margin-right: 10px;
    color: white;
}

a {
    text-decoration: none;
    color: inherit;
}

.icons {}

/*inizio cards*/

.row {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    justify-content: space-between;
    padding: 120px 0;
}

.col {
    width: calc(95%/3);
    min-height: 500px;
}

.mg-top {
    margin-top: 20px;
}

.card {
    position: relative;
}

.like {
    background-color: white;
    padding: 5px 10px;
    position: absolute;
    right: 0;
    margin-top: 10px;
    font-size: 30px;
}

.like:hover {
    color: red;
}

.discount {
    background-color: red;
    position: absolute;
    left: 0;
    bottom: 30px;
    padding: 5px;
    color: white;
}

.sustainability {
    background-color: green;
    position: absolute;
    left: 50px;
    bottom: 30px;
    padding: 5px;
    color: white;
}

.front {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.front:hover {
    z-index: -1;
}

h1 {
    font-size: 15px;
}

.price {
    color: red;
}

.no-price {
    text-decoration: line-through;
}

.sustainability-2 {
    background-color: green;
    position: absolute;
    left: 0px;
    bottom: 30px;
    padding: 5px;
    color: white;
}

footer {
    background-color: hsl(0deg 0% 10.2%);
    padding: 30px;

}

.section-footer {
    display: flex;
    justify-content: space-between;
}